# World Education Data Analysis

In this project, we are using Python and its libraries to analyse world education data from the [World Bank](https://www.worldbank.org/en/who-we-are).  
The original dataset (CSV file) is available here: https://datacatalog.worldbank.org/search/dataset/0038480

## About the dataset
The World Bank EdStats All Indicator Query holds over 4,000 internationally comparable indicators that describe education access, progression, completion, literacy, teachers, population, and expenditures. The indicators cover the education cycle from pre-primary to vocational and tertiary education.The query also holds learning outcome data from international and regional learning assessments (e.g. PISA, TIMSS, PIRLS), equity data from household surveys, and projection/attainment data to 2050. For further information, please visit the EdStats website.

## 1. Data Extraction

In [1]:
# Import Python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Define types of missing values (other than NaN)
missing_values = ["n/a", "na", "--", ""]

# Read the csv files and display the saved dataframe
data = pd.read_csv("./data/EdStatsData.csv", na_values = missing_values)
countries = pd.read_csv("./data/EdStatsCountry.csv", na_values = missing_values)
series = pd.read_csv("./data/EdStatsSeries.csv", na_values = missing_values)
countryseries = pd.read_csv("./data/EdStatsCountry-Series.csv", na_values = missing_values)
footnote = pd.read_csv("./data/EdStatsFootNote.csv", na_values = missing_values)

## 2. Data Cleaning

### Cleaning of "data" dataframe:

In [3]:
# Count the missing values
print(f"Missing values before cleaning: {data.isnull().sum().sum()}, number of rows: {len(data)}")

# Drop the rows where all dates values are missing
data = data.dropna(subset=data.columns[5:-1], how='all')

# Drop column: 'Unnamed: 69'
data = data.drop(columns=['Unnamed: 69'])

print(f"Missing values after cleaning: {data.isnull().sum().sum()}, number of rows: {len(data)}")
data.head()

Missing values before cleaning: 53455179, number of rows: 886930
Missing values after cleaning: 18139204, number of rows: 357250

,Country Name,Country Code,Indicator Name,Indicator Code,1970,1971,1972,1973,1974,1975,...,2055,2060,2065,2070,2075,2080,2085,2090,2095,2100
4,Arab World,ARB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,54.822121,54.894138,56.209438,57.267109,57.991138,59.365540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,"Adjusted net enrolment rate, primary, female (%)",SE.PRM.TENR.FE,43.351101,43.318150,44.640701,45.845718,46.449501,48.363892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Arab World,ARB,"Adjusted net enrolment rate, primary, gender p...",UIS.NERA.1.GPI,0.658570,0.656400,0.663290,0.672040,0.672610,0.691760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,"Adjusted net enrolment rate, primary, male (%)",SE.PRM.TENR.MA,65.826233,65.993584,67.301857,68.219078,69.059013,69.914551,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Arab World,ARB,Adjusted net intake rate to Grade 1 of primary...,UIS.NIRA.1,52.448921,52.489750,52.635593,53.327000,54.184654,54.865627,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Cleaning of "countries" dataframe:

In [4]:
# Count the missing values
print(f"Missing values before cleaning: {countries.isnull().sum().sum()}, number of rows: {len(countries)}")

# Drop the rows where all elements are missing
countries = countries.dropna(how='all')

# Drop column: 'Unnamed: 31'
countries = countries.drop(columns=['Unnamed: 31'])

print(f"Missing values after cleaning: {countries.isnull().sum().sum()}, number of rows: {len(countries)}")
countries.head()

Missing values before cleaning: 2354, number of rows: 241
Missing values after cleaning: 2113, number of rows: 241

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,Budgetary central government,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

### Cleaning of "series" dataframe:

In [5]:
# Count the missing values
print(f"Missing values before cleaning: {series.isnull().sum().sum()}, number of rows: {len(series)}")

# Drop the rows where all elements are missing
series = series.dropna(how='all')

# Drop column: 'Unnamed: 20'
series = series.drop(columns=['Unnamed: 20'])

print(f"Missing values after cleaning: {series.isnull().sum().sum()}, number of rows: {len(series)}")
series.head()

Missing values before cleaning: 55203, number of rows: 3665
Missing values after cleaning: 51538, number of rows: 3665

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,Limitations and exceptions,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN

### Cleaning of "countryseries" dataframe:

In [6]:
# Count the missing values
print(f"Missing values before cleaning: {countryseries.isnull().sum().sum()}, number of rows: {len(countryseries)}")

# Drop the rows where all elements are missing
countryseries = countryseries.dropna(how='all')

# Drop column: 'Unnamed: 3'
countryseries = countryseries.drop(columns=['Unnamed: 3'])

print(f"Missing values after cleaning: {countryseries.isnull().sum().sum()}, number of rows: {len(countryseries)}")
countryseries.head()

Missing values before cleaning: 613, number of rows: 613
Missing values after cleaning: 0, number of rows: 613

,CountryCode,SeriesCode,DESCRIPTION
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...

### Cleaning of "footnote" dataframe:

In [7]:
print(f"Missing values before cleaning: {footnote.isnull().sum().sum()}, number of rows: {len(footnote)}")

# Drop the rows where all elements are missing
footnote = footnote.dropna(how='all')

# Drop column: 'Unnamed: 4'
footnote = footnote.drop(columns=['Unnamed: 4'])

print(f"Missing values after cleaning: {footnote.isnull().sum().sum()}, number of rows: {len(footnote)}")

footnote.head()

Missing values before cleaning: 643638, number of rows: 643638
Missing values after cleaning: 0, number of rows: 643638

  CountryCode      SeriesCode    Year          DESCRIPTION
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.